[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

llama-index-llms-openai = "*"
langchain-openai = "*"
python-dotenv = "*"
langchain-text-splitters = "*"
langchain-community = "*"
langgraph = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.12"
